<h3>Edit a contact</h3>

    <div class="user-list" *ngIf="contact && contact.length">       
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Name</th>
                <th>phone</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contact of contact; let i = index">
                   
                    <td>
                        <div *ngIf="contact.isEdit">
                            <input type="text"  [(ngModel)]="contact.name">
                        </div>
                        <div *ngIf="!contact.isEdit">
                            <input type="text" disabled [(ngModel)]="contact.name">
                        </div>
                    </td>
                    <div *ngIf="contact.isEdit">
                        <input type="text" [(ngModel)]="contact.phone">
                    </div>
                    <div *ngIf="!contact.isEdit">
                        <input type="text" disabled [(ngModel)]="contact.phone">
                    </div>
                   
                    <td> 
                        <button class="btn btn-sm btn-success" (click)="EditContact(contact)">Edit</button>    
                    </td>
                </tr>
            </tbody>
        </table>
       
    </div>